
.header {
    display: flex;
    justify-content: space-between; /* Space between logo and nav items */
    align-items: center; /* Vertically center items */ /* Add horizontal padding for spacing */
    background-color: #f8f8f8; /* Optional: background color for visual clarity */
  }
  
  .logo img {
    width: 100px;
    height: auto;
    border-radius: 50%;
  }
  
  .nav-items ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
    display: flex; /* Align items horizontally */
  }
  
  .nav-items li {
    margin: 0 15px; /* Space between navigation items */
    cursor: pointer; /* Optional: change cursor on hover */
  }
  
  .nav-items li:hover {
    text-decoration: underline; /* Optional: underline on hover */
  }

  .restaurant-card {
    background-color: #f0f0f0;
    width: 234px;
    min-height: 300px; /* Minimum height */
    margin: 4px 4px;
    padding: 8px; /* Optional padding for better spacing */
    box-sizing: border-box; /* Include padding in width/height */
  }

 
.restaurant-card img {
    width: 100%; /* Ensure the image takes full width of the container */
    height: 150px; /* Fixed height for all images */
    object-fit: cover; /* Cover the area, maintaining aspect ratio */
    border-radius: 8px;
}

  .cards-container {
    display: flex;
    flex-wrap: wrap;
  }

  .restaurant-card:hover {
    cursor: pointer;
    border: 1px solid black;
  }
  
/* Change this class to set an active state background */
.active {
    background-color: grey;
    border: 1px solid black; /* Optional: Add a border for clarity */
  }
  
  /* Change this class to define the inactive state appearance */
  .inactive {
    background-color: transparent;
    border: 1px solid gray; /* Optional: Border to differentiate */
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0px
  }

  .search-container {
    padding: 0 14px;
  }

  .res-info {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 16px;
}
.res-info img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}
.res-info .content {
    padding: 16px;
}
.res-info h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}
.res-info p {
    margin: 8px 0;
    color: #555;
}
.status {
    font-weight: bold;
}

.res-info-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 13px 0px;
}

.menu-category-container{
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 16px;
}

.menu-item{
    display: flex;
    justify-content: space-between;
}
.menu-item-img img {
    width: 200px;
    border-radius: 10%;
}

.line-break {
    margin: 22px 0px;
    border: 1px solid lightgray;
    width: 100%;
}
